body {
  background-color: white;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: green;
  float: none;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: skyblue;
  color: black;
}
.web-dev {
  border: 5px blue;
  background-color: lightblue;    
  text-align: center;
  height: 800px;
  width: 900px;
  font-family: arial;
}
.aboutme {
  border: 5px blue;
  background-color: lightblue;    
  text-align: center;
  height: 250px;
  width: 900px;
  font-family: arial;
}
